<?xml version="1.0" encoding="UTF-8" ?>
<!-- これはsrc/test/resources -->
<configuration>
    <appenders>
        <Console name="console">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} %-5level %logger{32} %msg%n" />
        </Console>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <root level="debug">
            <appender-ref ref="console" />
        </root>
    </loggers>
</configuration>
